/* you can add to or change this. */

body{
  background-color: #d6eadf;
}

#heading {
  background: linear-gradient(135deg,  #cdb4db 0%,#ffc8dd 50%,#ffafcc 100%)
}


#game div{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  box-shadow: 0px 0px 30px rgb(33 33 33 / 25%);
  transition: background-color .5s;
}

#game div:active {
  transform: scale(0.97);
  transition: transform .2s;
}

#game {
  margin-top: 30px;
  width: 600px;
  display: grid;
  padding: 20px;
  grid-gap: 1px;
  border-radius: 5px;
  background: linear-gradient(135deg,  #d8e2dc 0%,#ffe0e9 50%,#d8e2dc 100%);
}

h1 {
  padding: 20px;
  margin: 10px;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

#scoreBox {
  margin-top: 20px;
  margin-bottom: 70px;
  font-family: 'Permanent Marker', cursive;
}

h3 {
  font-family: 'The Nautigal', cursive;
  font-size: 5em;
}

#scoreRow {
  background-color: rgb(255, 184, 209);
}

#start {
  font-size: 5em;
  font-family: 'The Nautigal', cursive;
}

#restart {
  font-family: 'Permanent Marker', cursive;
  font-size: 1em;
  margin-bottom: 20px;
  margin-top: 20px;
}

#levelSelection {
  margin-top: 10px;
  margin-bottom: 10px;
}

#radioBox {
  height: 30px;
  background-color: #fcd5ce;
  margin-left: 5px;
  margin-right: 5px;
}